.home_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user_display {
	padding: 0px;
	display: flex;
	width: 90%;
	height: 100vh;
	background-color: rgb(255, 255, 255);
	margin-top: 20px;
	justify-content: flex-start;
	align-items: center;
}
.navigate_btn {
	display: flex;
	background-image: linear-gradient(
		to bottom right,
		rgba(32, 84, 255, 0.7),
		rgba(93, 19, 231, 0.7)
	);
	height: 100%;
	width: 21%;
	border-radius: 17px;
	justify-content: flex-start;
	align-items: center;
}
ul {
	list-style-type: none;
}
.list {
	padding-bottom: 20px;
	margin-left: 40px;
	border-bottom: 1px solid rgb(255, 253, 253);
	color: white;
	width: 100%;
}
.display {
	height: 90%;
	width: 80%;
	justify-content: center;
	align-items: center;
}

.navbar_items:focus {
	border-bottom: 1px soild black;
}
Link:active{
 background-color: sandybrown;
}